.site-footer {
	margin-top: 5rem;
}

.site-footer h4 { margin-bottom: 3px}

#no-spam {
  font-size: .8em; 
  color: #9d9d9d; 
  margin: 1px 0; 
}

/* copyright */
#copyright {text-align:center; font-size:80%; margin-top:60px;}
#copyright p, #copyright a {color:#a0a9ae; text-decoration: none;}
#copyright a, #copyright a:visited { border-bottom: 1px solid #a0a9ae; }

/* fixing buttons rounded on safari mobile */
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
