---
# the hashtag is used to comment a front matter item	
title: "Home of Guli"
---
<!doctype html>
<html>
  <head>
    <!--- mailchimp -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  </head>
  <body>
   {% include header.html %}
   {% include navigation.html %}
   {{ content }}  
   {% include site-footer.html %}
  </body>
</html>
