---
# the hashtag is used to comment a front matter item	
title: "Home of Guli"
---
<!doctype html>
<html>
  <head>
    <!--- mailchimp -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  </head>
  <body>
   {% include header.html %}
   {% include navigation.html %}
   {{ content }}  
   {% include site-footer.html %}
  </body>
</html>
