---
# the hashtag is used to comment a front matter item	
title: "Home of Guli"
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- the following to disable auto zoom on input text field -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <!-- <link rel="stylesheet" href="https://use.typekit.net/tqn4cfd.css"> -->
    <meta name="google-site-verification" content="ENtcrWkRthvKI7xGvrP05Dk8CvEGmvPRg3Ehu8c-WDw" />
    <link rel="icon" href="/assets/images/cropped-foto-sito-32x32.jpg" sizes="32x32" />
    <link rel="icon" href="/assets/images/cropped-foto-sito-192x192.jpg" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="/assets/images/cropped-foto-sito-180x180.jpg" />
    <meta name="msapplication-TileImage" content="/assets/images/cropped-foto-sito-270x270.jpg" />
    {% if page.tile %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    {% seo title=false %}
  </head>
  <body>
   {% include header.html %}
   {{ content }}  
   {% include site-footer.html %}
  </body>
  <script type="text/javascript" src="assets/js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="assets/js/bigfoot.min.js"></script>
    <script type="text/javascript">
    $.bigfoot();
  </script>
</html>
